@charset "utf-8";
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

*{margin: 0; padding: 0; box-sizing: border-box; word-break: keep-all; background-repeat: no-repeat;}
/* a{cursor: pointer;} */
ul, li{list-style-type: none;}
a > img{background-repeat: no-repeat; background-size: contain; text-indent: -999px; overflow: hidden;}
h2{font-size: 1.5rem; line-height: 3rem; text-align: center;}
p{font-size: 1rem; text-align: center; line-height: 1.5rem;}
body{min-width: 320px;}

.top{width: 100%; bottom: 0; height: 30px; display: flex; justify-content: space-between; position: fixed; top: 0px; z-index: 2;}
.leftmenu{width: fit-content; height: 100%; padding: 2px;}
.rightmenu{padding: 10px; width: fit-content; height: 100%; display: flex; flex-direction: row;}
.rightmenu .sitemap{display: flex; align-items: center; gap: 15px;}
.rightmenu .sitemap .sns:nth-last-child(3){color: red;}
.rightmenu .sitemap .sns:nth-last-child(2){color:dodgerblue;}
.rightmenu .sitemap .sns:nth-last-child(1){color:midnightblue;}

.sec1{background: url(https://images.blz-contentstack.com/v3/assets/bltc965041283bac56c/blt0c6db71db535f97a/5f8df46861a67a1420846b72/homepage_tavern_background.jpg) no-repeat center center; z-index: -1; position: fixed; opacity: 1;}
/* .sec2{background: url(https://images.blz-contentstack.com/v3/assets/bltc965041283bac56c/blt0c6db71db535f97a/5f8df46861a67a1420846b72/homepage_tavern_background.jpg) no-repeat center center; z-index: -1; position: fixed; opacity: 1;} */
.sec1.on{display: block;}
header{position: fixed; width: 100vw; z-index: 3; top: 10px;}
.gnb{position: relative; width: fit-content; height: 50px; margin: 0 auto;}
.gnb .navmenu .m{height: 50px; width: 150px; line-height: 40px; display: flex; justify-content: center; align-items: center;}
.gnb span{display: block; border-bottom: 2px solid #ff6600; height: 50px; width: 150px; z-index: -1; position: absolute; left: 0; top: 0px;}
.gnb .navmenu a{color: #ffffff; text-decoration: none; display: block;}
.gnb .navmenu a.on{color: red;}
.navmenu{width: 100%; height: 50px; display: flex; flex-direction: row; align-items: center;}




.gnb .m{float: left; width: 150px; position: relative; text-align: center;}
.gnb .m>a{display: block; height: 30px; line-height: 30px;}
.gnb .m ul{position: absolute; left: 0px; top: 50px; width: 100%; background-color: beige;

}
.gnb .m ul li>a{color: #000000; display: block;}
.gnb .m ul li a:hover,.gnb .m ul li a:focus,.gnb .m ul li a:active{background-color: #ffffff;}
.gnb .m ul li a{border-bottom: 1px solid #ff6600;}
.gnb .m ul li:last-child a{border: none;}




.sec1{width: 100vw; height: 100%; padding-top: 60px;}
.sec1.on .gameguide{width: 100vw; height: 100vh; position: relative; overflow: hidden;}


.sec1 #slide{display: none;}
.sec1.on #slide.on{width: 100vw; height: 100vh; display: flex; flex-direction: row;}

.sec1.on #slide.on .control{width: 15%; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; position: absolute; flex: 0 1 80px; z-index: 2;}


/* .sec1 #slide .right{display: none;} */
.sec1.on #slide.on .right{width: 100vw; height: 100vh;}
.sec1.on #slide.on .right li{width: 100vw; height: 100vh;}
.sec1.on #slide.on .right li .guide{width: 100vw; height: 60vh; transform: scale(0);}
.sec1.on #slide.on .right li .guide.on {transform: scale(1); transition: all ease-in-out 1s; display: flex; flex-direction: column; align-items: center;}
.sec1.on #slide .right li .guide.on li{display: none;}
.sec1.on #slide.on .right li .guide.on li.on{display: block;}
.sec1 #slide.on .right li .textguide{width: 100vw; height: 40vh; transform:  scaleX(0); display: flex; transform: scale(0);}
.sec1.on #slide.on .right li .textguide.on{transform: scaleX(1); transition: all ease-in-out 1s; display: flex; flex-direction: column; align-items: center; transform: scale(1); transition: all ease-in-out 1s;}
.sec1.on #slide .right li .textguide.on li{display: none; width: 70%; color: #ffffff;}
.sec1.on #slide.on .right li .guide.on li:nth-child(1).on{background: url(/project/1x/intro_hand.png) no-repeat center bottom / cover; width: 100%; height: 100%; display: block; transition: all ease-in-out 1s;}
.sec1.on #slide.on .right li .guide.on li:nth-child(2).on{background: url(/project/1x/intro_hero.png) no-repeat center 90% / cover; width: 100%; height: 100%; display: block; transition: all ease-in-out 1s;}
.sec1.on #slide.on .right li .guide.on li:nth-child(3).on{background: url(/project/1x/intro_hero.png) no-repeat center 95% / cover; width: 100%; height: 100%; display: block; transition: all ease-in-out 1s;}
.sec1.on #slide.on .right li .guide.on li:nth-child(4).on{background: url(/project/1x/intro_weapon.png) no-repeat 30% bottom / cover; width: 100%; height: 100%; display: block; transition: all ease-in-out 1s;}
.sec1.on #slide.on .right li .guide.on li:nth-child(5).on{background: url(/project/1x/intro_mana.png) no-repeat right bottom / cover; width: 100%; height: 100%; display: block; transition: all ease-in-out 1s;}
.sec1.on #slide.on .right li .guide.on li:nth-child(6).on{background: url(/project/1x/intro_deck.png) no-repeat right 70% / cover; width: 100%; height: 100%; display: block; transition: all ease-in-out 1s;}
.sec1.on #slide.on .right li .guide.on li:nth-child(7).on{background: url(/project/1x/intro_minion.png) no-repeat center center / cover;; width: 100%; height: 100%; display: block; transition: all ease-in-out 1s;}
.sec1.on #slide.on .right li .guide.on li:nth-child(8).on{background: url(/project/1x/intro_log.png) no-repeat left 45% / cover; width: 100%; height: 100%; display: block; transition: all ease-in-out 1s;}
.sec1.on #slide.on .right li .guide.on li:nth-child(9).on{background: url(/project/1x/intro_end.png) no-repeat right 45% / cover; width: 100%; height: 100%; display: block; transition: all ease-in-out 1s;}
.sec1.on #slide.on .right li .textguide.on li:nth-child(1).on{display:flex; align-items: center; justify-content: center;}
.sec1.on #slide.on .right li .textguide.on li:nth-child(2).on{display:flex; align-items: center; justify-content: center;}
.sec1.on #slide.on .right li .textguide.on li:nth-child(3).on{display:flex; align-items: center; justify-content: center;}
.sec1.on #slide.on .right li .textguide.on li:nth-child(4).on{display:flex; align-items: center; justify-content: center;}
.sec1.on #slide.on .right li .textguide.on li:nth-child(5).on{display:flex; align-items: center; justify-content: center;}
.sec1.on #slide.on .right li .textguide.on li:nth-child(6).on{display:flex; align-items: center; justify-content: center;}
.sec1.on #slide.on .right li .textguide.on li:nth-child(7).on{display:flex; align-items: center; justify-content: center;}
.sec1.on #slide.on .right li .textguide.on li:nth-child(8).on{display:flex; align-items: center; justify-content: center;}
.sec1.on #slide.on .right li .textguide.on li:nth-child(9).on{display:flex; align-items: center; justify-content: center;}









.sec1.on .slide ul.control li{width: 100%; height: 100px; cursor: pointer; opacity: 0.5;}
.sec1.on .slide ul.control li.on{opacity: 1; display: inline-block;}
.sec1.on .slide ul.control li:hover{opacity: 1; display: inline-block;}
.sec1.on .slide ul.control .mana1{background: url(/project/1x/mana/1.png); background-repeat: no-repeat; background-size: contain;}
.sec1.on .slide ul.control .mana2{background-image: url(/project/1x/mana/2.png); background-repeat: no-repeat; background-size: contain;}
.sec1.on .slide ul.control .mana3{background-image: url(/project/1x/mana/3.png); background-repeat: no-repeat; background-size: contain;}
.sec1.on .slide ul.control .mana4{background-image: url(/project/1x/mana/4.png); background-repeat: no-repeat; background-size: contain;}
.sec1.on .slide ul.control .mana5{background-image: url(/project/1x/mana/5.png); background-repeat: no-repeat; background-size: contain;}
.sec1.on .slide ul.control .mana6{background-image: url(/project/1x/mana/6.png); background-repeat: no-repeat; background-size: contain;}
.sec1.on .slide ul.control .mana7{background-image: url(/project/1x/mana/7.png); background-repeat: no-repeat; background-size: contain;}
.sec1.on .slide ul.control .mana8{background-image: url(/project/1x/mana/8.png); background-repeat: no-repeat; background-size: contain;}
.sec1.on .slide ul.control .mana9{background-image: url(/project/1x/mana/9.png); background-repeat: no-repeat; background-size: contain;}


/* 모바일화면시 left 30%해야함 top은 65 */


.sec1.on #gameintroduce{width: 100%; height: 100%; overflow: hidden;}


.sec1.on #gameintroduce .basic{width: 100vw; height: 100vh; background: url(/project/1x/main.png) no-repeat 50% top / cover; position: relative;}
.sec1.on #gameintroduce .basic:hover{background: url(/project/1x/firsthover.png) no-repeat center top / cover; transform: scale(1.4); transition: all 2s ease-in-out; overflow: hidden;}
.sec1.on #gameintroduce .basic > a{position: absolute; width: 17%; height: 6%; top: 28%; left: 41%; text-decoration: none; text-indent: -999999px; overflow: hidden;}

.sec1.on #whatHS{width: 100vw; height: 100vh; transform: scale(0);}
.sec1.on #whatHS.on{width: 100vw; height: 100vh; transform: scale(1); transition: all ease-in-out 1s; display: flex; flex-direction: column; padding-top: 50px; align-items: center; background-color: #000000; padding-top: 0;}
.sec1.on #whatHS.on h1{display: inline-block; text-align: center; color: #ffffff; position: fixed;}

.sec1.on #whatHS.on .HSintro{height: 100%; width: 100vw;}

.sec1.on #whatHS.on .HSintro li{display: none;}
.sec1.on #whatHS.on .HSintro li:nth-child(1){display: block; background: url(/project/1x/게임안내/standardintro.png) no-repeat 13% center / cover; width: 100vw; height: 100vh;}
.sec1.on #whatHS.on .HSintro li:nth-child(2){background: url(/project/1x/게임안내/등급전시스템.png) no-repeat 37% center / cover; width: 100vw; height: 100vh;}
.sec1.on #whatHS.on .HSintro li:nth-child(3){background: url(/project/1x/게임안내/standardintro.png) no-repeat 61% center / cover; width: 100vw; height: 100vh;}
.sec1.on #whatHS.on .HSintro li:nth-child(4){background: url(/project/1x/게임안내/등급전시스템.png) no-repeat 87% center / cover; width: 100vw; height: 100vh;}



.sec1.on #whatHS.on .slidebt{transform: scale(1); height: 10%; width: 50%; position: absolute; bottom: 5%; left: 25%; display: flex; justify-content: space-between;}
.sec1.on #whatHS.on .slidebt .material-symbols-outlined{font-size: 5rem; color: #ffffff; cursor: pointer;}
.sec1.on #whatHS.on .slidebt .material-symbols-outlined.off{cursor: default; opacity: 0.5;}



.sec2{width: 100vw; height: 100vh;}
.sec2 .herose{width: 100vw; height: 100vh; display: flex; flex-direction: row; overflow: hidden;}
.sec2 .heropage{width: 100vw; height: fit-content; overflow: hidden; display: flex; flex-direction: column;}
.sec2 .herose .Hr{flex: 1 1 0; display: flex; align-items: center; justify-content: center; flex-direction: column;}
.sec2 .herose .Hr .hidename{height: 0; text-align: center; word-wrap:break-word; display: block;}
.sec2 .herose .Hr .hidename h1{display: none;}


.sec2 .herose .Hr:hover .hidename h1{height: fit-content; display: block;  color: #ffffff; word-wrap:break-word; transition: all ease-in-out 1s;}
.Hr a{width: 100%; max-width: 80px; height: 100%; max-height: 80px; background-repeat: no-repeat; background-size: contain;}
.Hr.demonhunter{background: url(https://images.blz-contentstack.com/v3/assets/bltc965041283bac56c/blt881c2890e465706d/5e5fe3d58902221b5e1dd5ea/dh.jpg) no-repeat 48%;}
.Hr.demonhunter a{background-image: url(/project/1x/악마사냥꾼1.png);}
.Hr.druid{background: url(https://images.blz-contentstack.com/v3/assets/bltc965041283bac56c/blt810ba2b34c90b740/5e501a45297b4d1b5ff02394/druid.jpg) no-repeat 54%;}
.Hr.druid a{background-image: url(/project/1x/드루이드1.png);}
.Hr.hunter{background: url(https://images.blz-contentstack.com/v3/assets/bltc965041283bac56c/blt12bb0cfe0878742b/5e4da461a9f0fb732c24c39b/hunter.jpg) no-repeat 50%;}
.Hr.hunter a{background-image: url(/project/1x/사냥꾼1.png);}
.Hr.magician{background: url(https://images.blz-contentstack.com/v3/assets/bltc965041283bac56c/bltfad439f31b38dad2/5e4da46f8286c81bdae7858c/mage.jpg) no-repeat 50%;}
.Hr.magician a{background-image: url(/project/1x/마법사1.png);}
.Hr.paladin{background: url(https://images.blz-contentstack.com/v3/assets/bltc965041283bac56c/blt198019879a096f53/5e4ebd3a8dc1e51c531689a4/paladin.jpg) no-repeat 52%;}
.Hr.paladin a{background-image: url(/project/1x/성기사1.png);}
.Hr.priest{background: url(https://images.blz-contentstack.com/v3/assets/bltc965041283bac56c/blt4ff23385f5f401ef/5e500e588dc1e51c53168a5a/priest.jpg) no-repeat 48%;}
.Hr.priest a{background-image: url(/project/1x/사제1.png);}
.Hr.rogue{background: url(https://images.blz-contentstack.com/v3/assets/bltc965041283bac56c/blt2fc4edc7ed836f8a/5e6008788286c81bdae78b9d/Rogue.jpg) no-repeat 49%;}
.Hr.rogue a{background-image: url(/project/1x/도적1.png);}
.Hr.shaman{background: url(https://images.blz-contentstack.com/v3/assets/bltc965041283bac56c/bltd6694bd0e56ba114/5e4da3cba481381bd5d2e9d7/shaman.jpg) no-repeat 52%;}
.Hr.shaman a{background-image: url(/project/1x/주술사1.png);}
.Hr.warlock{background: url(https://images.blz-contentstack.com/v3/assets/bltc965041283bac56c/bltad0a2dc55b70fa29/5e4ee38e8d83401be1195eaa/warlock.jpg) no-repeat 50%;}
.Hr.warlock a{background-image: url(/project/1x/흑마법사1.png);}
.Hr.warrior{background: url(https://images.blz-contentstack.com/v3/assets/bltc965041283bac56c/blt5677de4c919e9430/5e4da44ca9f0fb732c24c397/warrior.jpg) no-repeat 50%;}
.Hr.warrior a{background-image: url(/project/1x/전사1.png);}
.Hr:hover{border: solid #B0FF73 4px;}



.sec2 .heropage .bg{flex: 1 1 0; height: 100vh; display: none; position: relative; padding-top: 20px;}
.sec2 .heropage .bg.on{height:100vh; display: block;}

.sec2 .heropage .inner{max-width: 1200px; height: 100vh; margin: 0 auto; display: flex; align-items: center; flex-direction: column; gap: 10px;}
.sec2 .heropage .inner h1{padding-top: 50px; font-size: 2rem; color: #ffffff;}
.sec2 .heropage .inner .basic{width: 100%; height: 30%; display: flex; flex-direction: row;}
.sec2 .heropage .inner .basic .hero{width: 50%; display: flex; justify-content: flex-end;}
.sec2 .heropage .inner .basic .active{width: 50%; display: flex;}
.sec2 .heropage .inner .skin{width: 100%; height: 40%; display: flex; flex-wrap: wrap; flex-direction: row; overflow: hidden; justify-content: space-around;  position: relative;}
.slick{width: 100%; height: 100%; display: flex; flex-wrap: wrap; flex-direction: row; overflow: hidden; justify-content: space-around;}
.slick button{position: absolute; top: 50%; left: 97%;}
.slick-prev{visibility: hidden;}

.slick div {width: 100%;}
.slick div img{transform: scale(0.9);}


.sec2 .heropage .inner .text{width: 100%; height: 40%; align-items: center; justify-content: center;}
.close{position: absolute; top: 90%; right: 30px; z-index: 100; width: 30px; height: fit-content;}





#sec3{width: 100vw; height: 100%; padding-top: 60px;}
#sec3 .searchmenu{width: 100vw; height: 100%;}
#sec3 .job{width: 100%; height: 70px; display: flex; justify-content: space-around; align-items: center;}
#sec3 .job div{max-width: 70px; height: 100%; flex: 1 1 70px; display: flex;}
#sec3 .job div div{flex: 0 1 70px; background-repeat: no-repeat; background-position: 50%; background-size: contain; cursor: pointer;}
#sec3 .job div:first-child div{background-image: url(/project/1x/마법사1.png);}
#sec3 .job div:nth-child(2) div{background-image: url(/project/1x/성기사1.png);}
#sec3 .job div:nth-child(3) div{background-image: url(/project/1x/악마사냥꾼1.png);}
#sec3 .job div:nth-child(4) div{background-image: url(/project/1x/드루이드1.png);}
#sec3 .job div:nth-child(5) div{background-image: url(/project/1x/사냥꾼1.png);}
#sec3 .job div:nth-child(6) div{background-image: url(/project/1x/흑마법사1.png);}
#sec3 .job div:nth-child(7) div{background-image: url(/project/1x/전사1.png);}
#sec3 .job div:nth-child(8) div{background-image: url(/project/1x/사제1.png);}
#sec3 .job div:nth-child(9) div{background-image: url(/project/1x/도적1.png);}
#sec3 .job div:nth-child(10) div{background-image: url(/project/1x/주술사1.png);}
#sec3 .job div:last-child div{background-image: url(/project/1x/ALL1.png);}



#sec3 .cardlist{background: url(/project/1x/라이브러리\ 배경.png) repeat-y right center / 100%; min-width: 100vw; min-height: 100vh; display: flex;}
#sec3 .cardlist .wrap div{flex: 0 0 220px;}
#sec3 .cardlist .wrap{width: 100%; height: 100%; display: flex; flex-wrap: wrap; flex-direction: row; align-items: center; justify-content: center;}
#god div{display: flex; cursor: pointer; flex-direction: row;}
#god div img{width: 220px; height: 300px;}
#god div .textbox{display: none;}


#god div.on{position: fixed; top: 0%; left: 0%; background-color: rgba(0, 0, 0, 0.4); cursor: default; width: calc(100%); height: calc(100%); transition: all ease-in-out 1s;}
#god div.on img{position: absolute; top: 30%; left: calc(20%); background-image: url(/project/1x/라이브러리\ 배경.png); transition: all ease-in-out 1s;}
#god div.on .textbox{display: flex; flex-direction: column; justify-content: center; align-items: center; width: 50%; height: 300px; position: absolute; top: 30%; left: calc(20% + 220px); background-image: url(/project/1x/라이브러리\ 배경.png); transition: all ease-in-out 1s;}
#god div.on .textbox .closeBt{background: url(/project/ui/xmark-solid.svg) no-repeat 50% / contain; width: 80px; height: 80px; z-index: 10; position: absolute; top: 0%; cursor: pointer; right: 0; background-color: #fff; border-radius: 30%;}

#sec3 .searchmenu{width: 100vw; height: 100%; display: flex; flex-direction: column;}
#sec3 .searchmenu .job{background: url(/project/1x/navbg.png) no-repeat 50% / cover;}
#sec3 .searchmenu .job div{background: url(/project/1x/filterRT.png) no-repeat right top / contain;}
#form fieldset{display: flex; flex-direction: column; color: #000; width: 100%; height: 100%; background: url(/project/1x/navbg.png) no-repeat 50% / cover;}
#form fieldset legend{text-align: center;}
#form fieldset .radios{display: flex; flex-direction: row;}
#form fieldset .radios div{flex: 1 1 0;}
#form fieldset .types{display: flex; flex-direction: row;}
#form fieldset .types div{flex: 1 1 0;}






#sec3 .close{position:fixed; top: 95%; right: 5px; z-index: 100; width: 30px; height: fit-content;}





/* 

.sec3 .cardlist{padding: 30px; gap: 30px; background-image: url(/project/1x/라이브러리\ 배경.png); background-repeat: repeat-y; background-size: contain;}
.sec3 .cardlist .wrap a img{width: 300px; height: 350px;}
.sec3 .cardlist .wrap{width: 100%; height: 100%; display: flex; flex-wrap: wrap; flex-direction: row; justify-content: space-around; align-items: center;} */


/* 
.sec4{width: 100vw; height: 90vh; display: flex; align-items: center; justify-content: center; flex-direction: row; background-color: aqua;}
.solocard{width: 1200px; height: 800px; background-color: beige; display: flex;}
.sec4 .solocard .right{width: 50%; height: 100%; text-align: center; display: flex; flex-direction: column; justify-content: center;}
.sec4 .solocard .left{ width: 50%; height: 100%; background: url(https://d15f34w2p8l1cc.cloudfront.net/hearthstone/d49457cfc43ea9b495ea811a38936c9b48d5e37d97616a87a681213eddc3a974.png) no-repeat 50% 50%;}
 */



/* display제어 */
#gameintroduce, #slide, .sec2, #sec3, #sec4, .heropage{display: none;}
#gameintroduce.on, #slide.on, .sec2.on, #sec3.on, #sec4.on, .heropage.on{display:block;}



