@charset "utf-8";
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

*{margin: 0; padding: 0; box-sizing: border-box; word-break: keep-all;}
/* a{cursor: pointer;} */
ul, li{list-style-type: none;}
a > img{background-repeat: no-repeat; background-size: contain; text-indent: -999px; }
h2{font-size: 1.5rem; line-height: 3rem; text-align: center;}
p{font-size: 1rem; text-align: center; line-height: 1.5rem;}
body{min-width: 320px;}

#closeyt{position: fixed; z-index: 101; top: 50px; width: 5%; height: 5%; right: 5px; cursor: pointer; background: url(/project/ui/close_FILL0_wght400_GRAD0_opsz48.svg) no-repeat 50% / cover; display: none; color: #e9d4a9;}

.top{width: 100%; height: 20px; display: flex; justify-content: space-between; position: fixed; z-index: 2; top: 0;}
.leftmenu{width: 60px; height: 100%; padding: 2px 0 0 2px; display: flex;}
.leftmenu a{text-indent: -9999999px; width: 100%; height: 100%;}
.leftmenu a div{width: 42px; height: 23px; background: url(/project/1x/Blizzard.png) no-repeat 50% /contain;}
.rightmenu{padding-right: 10px; width: fit-content; height: 100%; display: flex; flex-direction: row;}
.rightmenu .sitemap{display: flex; align-items: center; gap: 15px;}
.rightmenu .sitemap .sns:nth-last-child(3){color: red;}
.rightmenu .sitemap .sns:nth-last-child(2){color:dodgerblue;}
.rightmenu .sitemap .sns:nth-last-child(1){color:midnightblue;}

.main{width: 100%; height: 100%; padding-top: 60px; position: absolute; display: none;}
.main.on{display: block;}
.maininner{max-width: 1200px; height: 1440px; margin: 0 auto; display: flex; flex-direction: column;}
.main .maininner .sang{flex: 1 1 40%; border: solid black 30px; border-image: url(https://images.blz-contentstack.com/v3/assets/bltc965041283bac56c/blt47cbe0118299f668/5f1ef3b8bb238f5556376422/homepage-frame-grid.png) 24 24 27 24 / 1 / 0;}
.main .maininner .sang iframe{width: 100%; height: 100%; border: 0;}



.ytp-cued-thumbnail-overlay-image{background-position: left center;}
.main .maininner .jung{flex: 1 1 30%; border: solid black 30px; border-image: url(https://images.blz-contentstack.com/v3/assets/bltc965041283bac56c/blt47cbe0118299f668/5f1ef3b8bb238f5556376422/homepage-frame-grid.png) 21 24 27 24 / 1 / 0;}
.main .maininner .jung .patchimg{width: 100%; height: 100%; background: url(/project/1x/patchNote.png) no-repeat center / cover; cursor: pointer;}
.main .maininner .jung:hover .patchimg{opacity: 0.9;}

.main .maininner .ha{flex: 1 1 30%; border: solid black 30px; border-image: url(https://images.blz-contentstack.com/v3/assets/bltc965041283bac56c/blt47cbe0118299f668/5f1ef3b8bb238f5556376422/homepage-frame-grid.png) 21 24 27 24 / 1 / 0; display: flex; flex-direction: row; position: relative; cursor: pointer;}
.main .maininner .ha .heroimg{width: 100%; height: 100%; background: url(https://bnetcmsus-a.akamaihd.net/cms/content_entry_media/EF5DLM9VNLSW1666725886060.jpg) no-repeat center 20% / cover;}
.main .maininner .ha .hidetxt{position: absolute; top: 50%; left: 0%; color: #fff; height: fit-content;}
.main .maininner .ha .hidetxt p{font-size: 3rem; visibility: hidden;}
.main .maininner .ha:hover .hidetxt{width: 100%; display: block;}
.main .maininner .ha:hover .heroimg{opacity: 0.9;}
.main .maininner .ha:hover .hidetxt p{visibility: visible;}
.main .foot{width: 100%; height: 250px; color: #fff;}
.main .foot .footinner{max-width: 1200px; margin: 0 auto; height: 100%; padding: 30px; gap: 10px; display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 50px; background-color: rgba(0, 0, 0, 0.6);}
.main .foot .footinner .foottop{display: flex; width: 80%; justify-content: space-between; font-weight: bold;}
.main .foot .footinner .foottop span{cursor: pointer;}
.main .foot .footinner .footmid{font-size: 0.7rem; width: 60%;}
.main .foot .footinner .footbot{font-weight: bold;}


#bodybg{width: 100%; height: 100%; background: url(https://images.blz-contentstack.com/v3/assets/bltc965041283bac56c/blt0c6db71db535f97a/5f8df46861a67a1420846b72/homepage_tavern_background.jpg) no-repeat center center; z-index: -1; position: fixed;}
.sec1.on{display: block;}
header{position: absolute; width: 100%; z-index: 3; top: 10px;}
.gnb{position: relative; width: 100%; height: 50px; margin: 0 auto; display: flex; flex-direction: row; align-items: center; justify-content: center;}
.navmenu{width: 100%; height: 50px; display: flex; flex-direction: row; align-items: center; justify-content: space-around;}
.navmenu li{width: 100%;}
.navmenu li:nth-child(1){order: 3;}
.navmenu li:nth-child(2){order: 2;}
.navmenu li:nth-child(3){order: 4;}
.navmenu li:last-child{order: 5;}

.gnb .navmenu .m{height: 50px; line-height: 40px; display: flex; justify-content: center; align-items: center;}
.gnb .navmenu .m:hover{border-bottom: 2px solid #d89103;}

.gnb .navmenu a{color: #ffffff; text-decoration: none; display: block;}
.gnb .navmenu a:hover{color: red;}

#HP div{background: url(/project/1x/hearthstone.webp) no-repeat 30% 50% / 100%; width: 150px; height: 100%;}
.gnb .m{float: left; width: 150px; position: relative; text-align: center;}
.gnb .m>a{display: block; height: 50px; line-height: 50px;}
.gnb .m ul{position: absolute; left: 0px; top: 50px; width: 100%;}
/* .gnb .m:hover, .gnb .m:focus,.gnb .m:active{background-color: #ffffff;} */
.gnb .m ul li>a{color: #fff; display: block; z-index: 100;}
.gnb .m ul li a:hover,.gnb .m ul li a:focus,.gnb .m ul li a:active{background-color: #ffffff;}
.gnb .m ul li a{border-bottom: 1px solid #d89103; background-color: #000;}
.gnb .m ul li:last-child a{border: none;}




.sec1{width: 100%; height: 100%; padding-top: 60px;}
.sec1 .gameguide{display: none;}
.sec1 .gameguide .gamebg{display: none;}
.sec1.on .gameguide .gamebg.on{display: block; width: 100%; height: 100%;}
.sec1.on .gameguide .gamebg.on .intro{background: url(/project/1x/juin.jpg) no-repeat center / cover; max-width: 1200px; margin: 0 auto; height: 40%; position: relative;}
.sec1.on .gameguide .gamebg.on .textbox{max-width: 1200px; width: 100%; height: 60%; background-image: url(https://d2vkoy1na2a6o6.cloudfront.net/images/ui/parchment-f5126a8249a32eb235b139078b4cc13b5fb9d2c29b0e825569312681123d721a1f2e1addb4bad78f979933e561361e2ee2c5f5881ab4fef5385c66c6276c3b44.jpg); margin: 0 auto;}
.sec1.on .gameguide .gamebg.on .textbox div{background: url(/project/1x/logo.png) no-repeat center / cover; width: 70%; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; padding: 0 20px; line-height: 1.5rem; margin: 0 auto;}


.sec1.on .gameguide{width: 100vw; height: calc(100vh - 60px); position: relative; overflow: hidden; display: block;}

.sec1.on #slide .control{width: 15%; height: 80%; display: flex; flex-direction: column; align-items: center; justify-content: center; position: absolute; z-index: 2; top: 5%;}


.sec1 #slide .right{display: none;}
.sec1.on #slide .right{width: 100vw; height: 100vh; position: absolute; top: 0; display: block;}
.sec1.on #slide .right li{width: 100vw; height: 100vh;}
.sec1.on #slide .right li .guide{width: 100vw; height: 60vh; display: none;}
.sec1.on #slide .right li .guide.on {transform: scale(1); transition: all ease-in-out 0.5s; display: flex; flex-direction: column; align-items: center;}
.sec1.on #slide .right li .guide.on li{display: none;}
.sec1.on #slide .right li .guide.on li.on{display: block;}
.sec1 #slide .right li .textguide{width: 100vw; height: 40vh; transform:  scaleX(0); display: flex;}
.sec1.on #slide .right li .textguide.on{display: flex; flex-direction: column; align-items: center; transform: scale(1); transition: all ease-in-out 0.5s; background: url(/project/1x/txtbg.jpg) no-repeat center / cover;}
.sec1.on #slide .right li .textguide.on li{display: none; width: 70%; color: #000;}
.sec1.on #slide .right li .guide.on li:nth-child(1).on{background: url(/project/1x/intro_hand.png) no-repeat center bottom / cover; width: 100%; height: 100%; transition: all ease-in-out 0.5s;}
.sec1.on #slide .right li .guide.on li:nth-child(2).on{background: url(/project/1x/intro_hero.png) no-repeat center 90% / cover; width: 100%; height: 100%; transition: all ease-in-out 0.5s;}
.sec1.on #slide .right li .guide.on li:nth-child(3).on{background: url(/project/1x/intro_heroactive.png) no-repeat center 95% / cover; width: 100%; height: 100%; transition: all ease-in-out 0.5s;}
.sec1.on #slide .right li .guide.on li:nth-child(4).on{background: url(/project/1x/intro_weapon.png) no-repeat 30% bottom / cover; width: 100%; height: 100%; transition: all ease-in-out 0.5s;}
.sec1.on #slide .right li .guide.on li:nth-child(5).on{background: url(/project/1x/intro_mana.png) no-repeat right bottom / cover; width: 100%; height: 100%; transition: all ease-in-out 0.5s;}
.sec1.on #slide .right li .guide.on li:nth-child(6).on{background: url(/project/1x/intro_deck.png) no-repeat right 70% / cover; width: 100%; height: 100%; transition: all ease-in-out 0.5s;}
.sec1.on #slide .right li .guide.on li:nth-child(7).on{background: url(/project/1x/intro_minion.png) no-repeat center center / cover;; width: 100%; height: 100%; transition: all ease-in-out 0.5s;}
.sec1.on #slide .right li .guide.on li:nth-child(8).on{background: url(/project/1x/intro_log.png) no-repeat left 45% / cover; width: 100%; height: 100%; transition: all ease-in-out 0.5s;}
.sec1.on #slide .right li .guide.on li:nth-child(9).on{background: url(/project/1x/intro_end.png) no-repeat right 45% / cover; width: 100%; height: 100%; transition: all ease-in-out 0.5s;}
.sec1.on #slide .right li .textguide.on li.on{display:flex; align-items: flex-start; justify-content: center;align-items: center; justify-content: center; padding-bottom: 100px;}









.sec1.on .slide ul.control li{width: 100%; height: 80px; cursor: pointer; opacity: 0.5;}
.sec1.on .slide ul.control li.on{opacity: 1; display: inline-block;}
.sec1.on .slide ul.control li:hover{opacity: 1; display: inline-block;}
.sec1.on .slide ul.control .mana1{background: url(/project/1x/mana/1.png) no-repeat left / contain;}
.sec1.on .slide ul.control .mana2{background: url(/project/1x/mana/2.png) no-repeat left / contain;}
.sec1.on .slide ul.control .mana3{background: url(/project/1x/mana/3.png) no-repeat left / contain;}
.sec1.on .slide ul.control .mana4{background: url(/project/1x/mana/4.png) no-repeat left / contain;}
.sec1.on .slide ul.control .mana5{background: url(/project/1x/mana/5.png) no-repeat left / contain;}
.sec1.on .slide ul.control .mana6{background: url(/project/1x/mana/6.png) no-repeat left / contain;}
.sec1.on .slide ul.control .mana7{background: url(/project/1x/mana/7.png) no-repeat left / contain;}
.sec1.on .slide ul.control .mana8{background: url(/project/1x/mana/8.png) no-repeat left / contain;}
.sec1.on .slide ul.control .mana9{background: url(/project/1x/mana/9.png) no-repeat left / contain;}

.sec1.on .gameintroduce{display: none;}
.sec1.on .gameintroduce.on{width: 100vw; height: 100vh;}


.sec1.on .gameintroduce.on #whatHS{width: 100vw; height: 100vh; display: flex; flex-direction: column; align-items: center;  padding-top: 0;}
.sec1.on #whatHS .HSintro{height: 100%; width: 100%;}

.sec1.on #whatHS .HSintro li{display: block; height: 100%;}
.sec1.on #whatHS .HSintro li .intro{width: 100%; height: 100%;}
.sec1.on #whatHS .HSintro li .intro .imgbox{width:100vw; height: 100%; border: 0px;}
.sec1.on #whatHS .HSintro li .intro .imgbox iframe{width: 100%; height: 95%; border: 0;}
.sec1.on #whatHS .HSintro > li:last-child{width: 100vw; height: 100vh; display: none; position: relative;}

.sec1.on #whatHS .slidebt{height: 3rem; width: 50%; position: fixed; bottom: 8%; left: 25%; justify-content: space-between; display: flex;}
.sec1.on #whatHS .slidebt .material-symbols-outlined{font-size: 3rem; color: #e9d4a9; cursor: pointer;}
.sec1.on #whatHS .slidebt .material-symbols-outlined.off{cursor: default; opacity: 0.5;}
.sec1.on #whatHS .span:first-child{width: fit-content; height: 3rem;}
.sec1.on #whatHS .span:last-child{width: fit-content; height: 3rem;}

.sec2{width: 100%; height: 100%;}
.sec2 .herose{width: 100%; height: calc(100vh - 60px); display: flex; flex-direction: row; overflow: hidden;}
.sec2 .heropage{width: 100%; height: fit-content; overflow: hidden; display: flex; flex-direction: column;}
.sec2 .herose .Hr{flex: 1 1 0; display: flex; align-items: center; justify-content: center; flex-direction: column;}
.sec2 .herose .Hr .hidename{height: 0; text-align: center; word-wrap:break-word; display: block;}
.sec2 .herose .Hr .hidename h1{display: none;}


.sec2 .herose .Hr:hover .hidename h1{height: fit-content; display: block;  color: #ffffff; word-wrap:break-word;}
.Hr a{width: 100%; max-width: 80px; height: 100%; max-height: 80px; background-repeat: no-repeat; background-size: contain;}
.Hr.demonhunter{background: url(https://images.blz-contentstack.com/v3/assets/bltc965041283bac56c/blt881c2890e465706d/5e5fe3d58902221b5e1dd5ea/dh.jpg) no-repeat 48%;}
.Hr.demonhunter a{background-image: url(/project/1x/악마사냥꾼1.png);}
.Hr.druid{background: url(https://images.blz-contentstack.com/v3/assets/bltc965041283bac56c/blt810ba2b34c90b740/5e501a45297b4d1b5ff02394/druid.jpg) no-repeat 54%;}
.Hr.druid a{background-image: url(/project/1x/드루이드1.png);}
.Hr.hunter{background: url(https://images.blz-contentstack.com/v3/assets/bltc965041283bac56c/blt12bb0cfe0878742b/5e4da461a9f0fb732c24c39b/hunter.jpg) no-repeat 50%;}
.Hr.hunter a{background-image: url(/project/1x/사냥꾼1.png);}
.Hr.magician{background: url(https://images.blz-contentstack.com/v3/assets/bltc965041283bac56c/bltfad439f31b38dad2/5e4da46f8286c81bdae7858c/mage.jpg) no-repeat 50%;}
.Hr.magician a{background-image: url(/project/1x/마법사1.png);}
.Hr.paladin{background: url(https://images.blz-contentstack.com/v3/assets/bltc965041283bac56c/blt198019879a096f53/5e4ebd3a8dc1e51c531689a4/paladin.jpg) no-repeat 52%;}
.Hr.paladin a{background-image: url(/project/1x/성기사1.png);}
.Hr.priest{background: url(https://images.blz-contentstack.com/v3/assets/bltc965041283bac56c/blt4ff23385f5f401ef/5e500e588dc1e51c53168a5a/priest.jpg) no-repeat 48%;}
.Hr.priest a{background-image: url(/project/1x/사제1.png);}
.Hr.rogue{background: url(https://images.blz-contentstack.com/v3/assets/bltc965041283bac56c/blt2fc4edc7ed836f8a/5e6008788286c81bdae78b9d/Rogue.jpg) no-repeat 49%;}
.Hr.rogue a{background-image: url(/project/1x/도적1.png);}
.Hr.shaman{background: url(https://images.blz-contentstack.com/v3/assets/bltc965041283bac56c/bltd6694bd0e56ba114/5e4da3cba481381bd5d2e9d7/shaman.jpg) no-repeat 52%;}
.Hr.shaman a{background-image: url(/project/1x/주술사1.png);}
.Hr.warlock{background: url(https://images.blz-contentstack.com/v3/assets/bltc965041283bac56c/bltad0a2dc55b70fa29/5e4ee38e8d83401be1195eaa/warlock.jpg) no-repeat 50%;}
.Hr.warlock a{background-image: url(/project/1x/흑마법사1.png);}
.Hr.warrior{background: url(https://images.blz-contentstack.com/v3/assets/bltc965041283bac56c/blt5677de4c919e9430/5e4da44ca9f0fb732c24c397/warrior.jpg) no-repeat 50%;}
.Hr.warrior a{background-image: url(/project/1x/전사1.png);}
.Hr:hover{border: solid #B0FF73 4px;}



.sec2 .heropage .bg{flex: 1 1 0; height: 100vh; display: none; position: relative;}
.sec2 .heropage .bg.on{height:100vh; display: block;}
#sec2 #heropage div.bg .inner .close{cursor: pointer;}

.sec2 .heropage .inner{max-width: 1200px; height: 100vh; margin: 0 auto; display: flex; align-items: center; flex-direction: column; gap: 10px; background: url(/project/1x/라이브러리배경화면50.png) repeat-y 50% / cover;}
.sec2 .heropage .inner h1{padding-top: 20px; font-size: 2rem; color: #000;}
.sec2 .heropage .inner .basic{width: 100%; height: 25%; display: flex; flex-direction: row;}
.sec2 .heropage .inner .basic .hero{width: 50%; display: flex; justify-content: flex-end;}
.sec2 .heropage .inner .basic .active{width: 50%; display: flex;}
.sec2 .heropage .inner .skin{width: 100%; height: 35%; display: flex; flex-wrap: wrap; flex-direction: row; overflow: hidden; justify-content: space-around;  position: relative;}
.sec2 .heropage .inner .text{width: 90%; height: 40%; align-items: center; justify-content: center; color: #000; display: flex; flex-direction: column; justify-content: space-between; padding-bottom: 50px;}

.slick{width: 100%; height: 100%; display: flex; flex-wrap: wrap; flex-direction: row; overflow: hidden; justify-content: space-around;}
.slick button.slick-arrow{position: absolute; bottom: 100%; left: 55%;}
.slick button.slick-arrow.slick-prev{left: 45%; z-index: 3;}

.slick div {width: 100%; display: flex; align-items: center; justify-content: center;}
.slick div img{width: 100%; max-width: 250px; min-width: 200px; margin: 0 auto;}



.close.pagingtop{position: absolute; top: 95%; right: 48%; z-index: 100; width: 30px; height: 30px; display: flex; cursor: pointer; background: url(/project/ui/SVG/Asset1.svg) no-repeat 50%;}


#sec3 .cardlist .gotop{position: fixed; right: 10px; top: 50%; width: 30px; height: 30px;}
#sec3 .cardlist .gotop a{background: url(/project/ui/SVG/Asset1.svg) no-repeat 50%; width: 30px; height: 30px; position: fixed; z-index: 1;}



#sec3{width: 100%; height: 100%;}
#sec3 .searchmenu{width: 100%; height: 100%;}
#sec3 .job{width: 100%; height: 70px; display: flex; justify-content: space-between; align-items: center;}
#sec3 .job div{height: 100%; flex: 1 1 0px; display: flex;}
#sec3 .job div div{flex: 0 1 70px; background-repeat: no-repeat; background-position: 50%; background-size: contain; cursor: pointer;}
#sec3 .job div:first-child div{background-image: url(/project/1x/마법사1.png);}
#sec3 .job div div:hover{border-bottom: 10px solid; border-image-source: linear-gradient(to left, #cefa9c, #e7fdcd); border-image-slice: 1; border-width: 3px;}
#sec3 .job div.on div{border-bottom: 10px solid; border-image-source: linear-gradient(to left, #00C853, #B2FF59); border-image-slice: 1; border-width: 3px;}
#sec3 .job div:nth-child(2) div{background-image: url(/project/1x/성기사1.png);}
#sec3 .job div:nth-child(3) div{background-image: url(/project/1x/악마사냥꾼1.png);}
#sec3 .job div:nth-child(4) div{background-image: url(/project/1x/드루이드1.png);}
#sec3 .job div:nth-child(5) div{background-image: url(/project/1x/사냥꾼1.png);}
#sec3 .job div:nth-child(6) div{background-image: url(/project/1x/흑마법사1.png);}
#sec3 .job div:nth-child(7) div{background-image: url(/project/1x/전사1.png);}
#sec3 .job div:nth-child(8) div{background-image: url(/project/1x/사제1.png);}
#sec3 .job div:nth-child(9) div{background-image: url(/project/1x/도적1.png);}
#sec3 .job div:nth-child(10) div{background-image: url(/project/1x/주술사1.png);}
#sec3 .job div:last-child div{background-image: url(/project/1x/natural.png);}



#sec3 .cardlist{background: url(/project/1x/라이브러리\ 배경.png) repeat-y right center / 100%; width: 100%; height: 100%; min-height: 100vh; display: flex;}
#sec3 .cardlist .wrap div{flex: 0 0 220px;}
#sec3 .cardlist .wrap{width: 100%; height: 100%; display: flex; flex-wrap: wrap; flex-direction: row; align-items: center; justify-content: center;}
#god div{display: flex; cursor: pointer; flex-direction: row;}
#god div img{width: 220px; height: 300px;}
#god div .textbox{display: none;}




#sec3 .searchmenu{width: 100%; height: 100%; display: flex; flex-direction: column;}

#sec3 .searchmenu .job{display: none;}
#sec3 .searchmenu .job.on{background: url(/project/1x/navbg.png) no-repeat 50% / cover; display: flex;}
#sec3 .searchmenu .job.on div{display: flex; justify-content: center;}

/* #sec3 .searchmenu .job div{background: url(/project/1x/filterRT.png) no-repeat right top / contain;} */
#sec3 .searchmenu .subform{width: 90%; height: 100%; display: none;}
#sec3 .searchmenu .subform.on{width: 100%; height: 100%; display: flex; flex-direction: row; background: url(https://d2q63o9r0h0ohi.cloudfront.net/_next/static/media/wood_middle_repeat.b4458ce9f1d0c41bb51b9b8385c0943f.png) repeat 50% / cover;}

#sec3 .searchmenu .subform.on .leftform{width: 50vw; height: 100%; display: flex; justify-content: flex-end;}
#lform{width: 95%; height: 100%; }
#lform #leftradios{display: flex; flex-direction: row; justify-content: space-between; color: #fff; font-size: 0.8rem;}


#sec3 .searchmenu .subform.on .rightform{width: 50vw; height: 100%;}
#rform{width: 95%; height: 100%;}
#rform #rightradios{display: flex; flex-direction: row; justify-content: space-around; color: #fff; font-size: 0.8rem;}
#rform #rightradios div{flex: 1 1 0;}
#sec3 .searchmenu .subform.on .types.right{display: flex; justify-content: space-around;}
#sec3 .searchmenu .subform.on .types.right div{flex: 1 1 0;}
#sec3 .searchmenu .subform.on .types{display: flex; flex-direction: row; justify-content: space-between;}
#sec3 .searchmenu .subform.on legend{text-align: center; color: #fff;}

#sec4.on{width: 100%; height: 100%;}
#sec4.on .maininner{height: calc(100vh - 60px); width: 100%;}
#sec4.on .maininner .up{width: 100%; flex: 1 1 0; flex-direction: column; border: solid black 30px; border-image: url(https://images.blz-contentstack.com/v3/assets/bltc965041283bac56c/blt47cbe0118299f668/5f1ef3b8bb238f5556376422/homepage-frame-grid.png) 27 27 27 / 1 / 0;}
#sec4.on .maininner .up .patch{width: 100%; height: 100%; cursor: pointer;}
#sec4.on .maininner .up .patch:hover .patchimg{opacity: 0.8;}
#sec4.on .maininner .up .patch .patchimg{width: 100%; height: 100%; background: url(/project/1x/patchNote.png) no-repeat center / cover; transition: all ease-in-out 0.5s;}
#sec4.on .maininner .up .patch .patchtext{width: 100%; height: 0; transition: all ease-in-out 0.5s; overflow: hidden;}

#sec4.on .maininner .up .patch.on{width: 100%; height: 100%;}
#sec4.on .maininner .up .patch.on .patchimg{height: 0%;}
#sec4.on .maininner .up .patch.on .patchtext{height: 100%; background-image: url(https://d2vkoy1na2a6o6.cloudfront.net/images/ui/parchment-f5126a8249a32eb235b139078b4cc13b5fb9d2c29b0e825569312681123d721a1f2e1addb4bad78f979933e561361e2ee2c5f5881ab4fef5385c66c6276c3b44.jpg); transition: all ease-in-out 0.5s; display: flex; flex-direction: column; align-items: center; gap: 3px; justify-content: space-around;}

#sec4.on .maininner .up .patch.on .patchtext li{font-size: 0.5rem;}
#sec4.on .maininner .up .patch.on .patchtext ul{width: 90%;}
#sec4.on .maininner .up .patch.on .patchtext li.lv1{list-style-type: square; font-size: 1rem; line-height: 1.2rem;}
#sec4.on .maininner .up .patch.on .patchtext li.lv2{list-style-type: circle; list-style-position: inside; font-size: 0.9rem; line-height: 1.1rem;}
#sec4.on .maininner .up .patch.on .patchtext li.lv3{text-indent: 15px; font-size: 0.8rem; line-height: 1rem;}
#sec4.on .maininner .up h4{font-size: 1.5rem;}
#sec4.on .maininner .up h5{font-size: 1.2rem;}
/* #sec4.on .maininner .up .patch.on .patchtext ul{font-size: 0.6rem;} */
/* #sec4.on .maininner .up .patch.on .patchtext ul.txtindent{text-indent: 10px;} */

#sec4.on .maininner .down{width: 100%; flex: 1 1 0; height: fit-content; flex-direction: row; border: solid black 30px; border-image: url(https://images.blz-contentstack.com/v3/assets/bltc965041283bac56c/blt47cbe0118299f668/5f1ef3b8bb238f5556376422/homepage-frame-grid.png) 27 27 27 / 1 / 0;}
#sec4.on .maininner .down .watch{width: 100%; height: 100%; position: relative; padding: 0 60px; background-image: url(https://d2vkoy1na2a6o6.cloudfront.net/images/ui/parchment-f5126a8249a32eb235b139078b4cc13b5fb9d2c29b0e825569312681123d721a1f2e1addb4bad78f979933e561361e2ee2c5f5881ab4fef5385c66c6276c3b44.jpg); align-items: center; justify-content: center;}
#sec4.on .maininner .down .watch .mediaroom{width: 100%; height: 100%; background-image: url(https://d2vkoy1na2a6o6.cloudfront.net/images/ui/parchment-f5126a8249a32eb235b139078b4cc13b5fb9d2c29b0e825569312681123d721a1f2e1addb4bad78f979933e561361e2ee2c5f5881ab4fef5385c66c6276c3b44.jpg); display: flex; flex-direction: row; overflow: hidden; align-items: center;}
.swiper-slide{display: flex; justify-content: flex-start; align-items: flex-start; width: 100%;}
.swiperbt{position: absolute; top: 50%; width: 30px; height: 30px; background-color: #00C853; cursor: pointer;}
.swiperbt.next{right: 20px; background: url(/project/ui/arrow-right-solid.svg) no-repeat 50% / contain;}
.swiperbt.prev{left: 20px; background: url(/project/ui/arrow-left-solid.svg) no-repeat 50% / contain;}

#sec4.on .maininner .down .watch .mediaroom iframe{border: 0; width: 100%; height: 90%; align-self: center;}

#gameintroduce, .sec2, #sec3, #sec4, .heropage{display: none;}
#gameintroduce.on, #slide.on, .sec2.on, #sec3.on, #sec4.on, .heropage.on{display:block;}



#loading {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    /* transform: translate(-50%, -50%); */
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#loading span {
    font-size: 40px;
    animation: rotate 1.5s linear infinite;
}
@keyframes rotate {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.slick button{position: absolute; top: 96%; left: 50%;}


#eachcard{width: 100vw; height: 100vh; position: fixed; background-color: rgba(0, 0, 0, 0.5); z-index: 1000;}
#eachcard .eachbox{width: 80%; height: 50%; display: flex; flex-direction: row; position: absolute; top: 25%; left: 10%; background: url(/project/1x/라이브러리배경화면50.png) repeat center / cover;}
#eachimg{width: fit-content; height: 100%; display: flex;}
#eachimg img{flex: 0 1 0;}

#eachtextbox{width: 70%; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center;}
#eachtextbox .textbox{width: 100%; word-break: break-all; display: flex; flex-direction: column; gap: 5px;}
#eachtextbox h3{text-align: center;}
span.closeBt{width: 50px; height: 50px; position: absolute; top: 0; right: 0; cursor: pointer; background: url(/project/ui/close_FILL0_wght400_GRAD0_opsz48.svg) no-repeat 50% / cover;}

#player{width: 100vw; height: 100%; border: none; position: fixed; z-index: 100;}