@charset "UTF-8";

/* h3{font-size: 1.5rem;}
h4{color: rgb(0, 0, 0); font-size: 1rem; line-height: 1rem;}

li.lv1{list-style: none; margin-left: 1.4rem; text-indent: -1.4rem; display: flex; flex-direction: column; gap: 5px; font-size: 1rem;}
li.lv1 ul{display: flex; flex-direction: column; gap: 5px;}
li.lv2{list-style: circle; list-style: outside; font-size: 0.8rem; padding-left: 0px; text-indent: 0px;}
li.lv2.nos{list-style: none; display: flex; flex-direction: row; gap: 5px;}

.box{width: 20px; height: 20px; background-color: black; display: inline-block; outline: solid white 1px; cursor: pointer;}
.hoveref{display: none; line-height: 20px;} */